<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restourant Box</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet" />
  </head>

  <body>
    <!-- start header -->
    <header class="header">
        <nav class="nav" id="drawer">
          <div class="mobile-menu">
            <div class="navbar-brand">
              <p class="navbar-brand-logo">Restourant Box</span></p>
            </div>
            <div class="bars-toggler">
              <span class="iconify" data-icon="la:bars" data-inline="false"></span>
            </div>
          </div>
        <!--start navbar -->
          <ul class="nav-list">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="#">Favorite</a></li>
            <li class="nav-item"><a href="http://github.com/ilzamafif">About</a></li>
          </ul>
        </nav>
        <!-- end navbar -->
    </header>

    <!-- end header -->

    <!-- start hero -->
    <div class="hero">
      <div tabindex="0" class="hero__inner">
        <h1 class="hero__title">Explore the restaurant</h1>
        <div class="hero__tagline">You will feel pleasure that you have never felt</div>
        <a href="#content" class="btn">Kirim</a>
      </div>
    </div>
    <!-- end hero -->

    <!-- start contnet -->
    <main id="content">
      <section class="restaurant-content">
        <div tabindex="0" class="list">
          <h2 class="list__label">Restourant List</h2>
        </div>
        <div class="posts">
          <div class="card" tabindex="0">
           <div class="card-content">
            
           </div>
          </div>
        </div>
      </section>
    </main>
    <!-- end content -->

    <!-- start footer -->
    <footer class="footer" tabindex="0">
      <p>Copywrite &copy;2021 All Right Reserved | Restaurant Box</p>
    </footer>
    <!-- end content -->

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  </body>
</html>
