<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="website penyedia restaurant">
    <meta name="keywords" content="Restaurant Box">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <link rel="icon" href="favicon.png" type="image/png">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <title>Restourant Box</title>
    <meta name="theme-color" content="#57c4e5"/>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet" />
  </head>

  <body>
    <a href="#content" class="skip">Menuju kontent</a>
    <header class="header">
      <nav class="nav">
        <div class="navbar-brand">
          <p class="navbar-brand-logo">Restourant Box</p>
        </div>
        <button type="button" tabindex="0" class="bars-toggler" aria-label="click to show navbar">
          <span class="iconify" data-icon="la:bars" data-inline="false"></span>
        </button>
        <ul class="nav-list">
          <li class="nav-item"><a href="#/">Home</a></li>
          <li class="nav-item"><a href="#/favorite">Favorite</a></li>
          <li class="nav-item"><a href="http://github.com/ilzamafif">About</a></li>
        </ul>
      </nav>

    </header>

    <div class="hero">
      <div tabindex="0" class="hero__inner">
        <h1 class="hero__title">Explore the restaurant</h1>
        <div class="hero__tagline">You will feel pleasure that you have never felt</div>
        <a href="#content" class="btn">See Restaurant</a>
      </div>
    </div>

    <main id="content">
      <section class="restaurant-content">
        <div tabindex="0" class="list">
          <h2 class="list__label">Restourant List</h2>
        </div>
        <div id="posts"></div>
      </section>
    </main>

    <footer class="footer" tabindex="0">
      <p>Copyright &copy;2021 | Restaurant Box</p>
    </footer>

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  </body>
</html>
