<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="website penyedia restaurant" />
    <meta name="keywords" content="Restaurant Box" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.png" type="image/png" />
    <link rel="icon" href="favicon.png" type="image/png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <title>Restourant Box</title>
    <meta name="theme-color" content="#57c4e5" />
    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet" />
  </head>

  <body>
    <skip-content></skip-content>
    <header">
      <navigator-bar></navigator-bar>
    </header>
    <hero-custom></hero-custom>
    <main-bar></main-bar>
    <footer-bar></footer-bar>

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  </body>
</html>
