
:root {
  --color-text: #212738;
  --color-primary: #57c4e5;
  --color-secondary: #edf2ef;
  --color-orange: #f97068;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-text);
  font-size: 14px;
}

/* 
** Navbar
*
*/

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  background-color: var(--color-secondary);
}

.navbar-brand {
  width: 60%;
  margin-left: 5%;
}

.navbar-brand .navbar-brand-logo {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 44px;
  color: #212738;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-list .nav-item {
  list-style: none;
  margin-right: 5%;
}

.nav-list .nav-item a {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: var(--color-text);
  display: inline-block;
  min-width: 44px;
  line-height: 44px;
}

.nav-list .nav-item a:hover {
  color: var(--color-primary);
}

.bars-toggler {
  font-size: 44px;
  border: none;
  background-color: transparent;
  color: #212738;
  margin: 0 5%;
  display: block;
  min-width: 44px;
  min-height: 44px;
  cursor: pointer;
}

#drawer {
  width: 70%;
}

/* 
** Hero
*
*/

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  width: 100%;
  background-color: #fff;
  background-image: url("/images/hero-small.jpg");
  background-size: cover;
  background-position: center;
}

.hero__inner{
  color: #fff;
  align-items: center;
}

.hero__inner .hero__title {
  color: #fff;
  font-weight: bold;
  font-size: 2.5rem;
}

.hero__tagline {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 30px;
}

/*
   Like
*/
.like {
  font-size: 28px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: var(--color-orange);
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
** Content
*
*/

.restaurant-content{
  width: 100%;
}

.restaurant-content .list__label{
  margin: 20px 0;
  padding-left: 7%;
  font-size: 30px;
}

#posts {
  margin: 0 7%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

#posts .card {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

#posts .card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#posts .card a {
  text-decoration: none;
  color: var(--color-text);
}

#posts .card .restaurant-image{
  overflow: hidden;
  width: 100%;
  display: block;
}

#posts .card .restaurant-image img{
  background-position: center;
  background-size: cover;
  height: 250px;
}

#posts .card .card-content {
  text-align: justify;
  line-height: 1.5;
  font-size: 1rem;
  padding: 15px;
}

.card .card-content .card-title {
  font-size: 2.1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.card .card-content .restaurant-city {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.card .card-content .rating {
  display: flex;
}

.card .card-content .rating .iconify-star {
  color: gold;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-right: 5px;
}

.card .card-content .rating p {
  font-size: 1rem;
  font-weight: bold;
}

.card .card-content .restaurant-desc{
  font-size: 0.9rem;
}


/* 
** Footer
*
*/

.footer {
  margin-top: 1.4rem;
  height: 3rem;
  width: 100%;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
}

.footer p {
  margin: 0 auto;
  color: var(--color-text);
  font-size: 1rem;
  line-height: 3rem;
}

.skip {
  position: absolute;
  top: -50rem;
  z-index: 999;
  color: var(--color-text);
}

.skip:focus {
  top: 0;
}

/* 
** Detail Page
*
*/

#post-detail {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.detail-restaurant-content .list__label{
  margin: 20px 0;
  padding-left: 5%;
  font-size: 30px;
}

.card-detail {
  margin: 0 5%;
  border-radius: 5px;
}

.restaurant-detail{
  padding: 20px;
}

.restaurant-detail .restaurant-title {
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--color-text);
  margin: 10px 0;
}

.restaurant-detail .rating .iconify-star {
  color: gold;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-right: 5px;
}

.restaurant-detail .rating .rating-text {
  font-size: 1rem;
  font-weight: bold;
}

.restaurant-detail .restaurant-desc {
  margin: 10px 0;
  align-items: justify;
  font-size: 0.9rem;
}

.restaurant-detail .restaurant-location{
  font-size: 1rem;
  align-items: center;
  font-weight: bold;
  display: flex;
  margin: 10px 0;
}

.detail-menu{
  flex: 1;
  padding: 0 20px;
}

.detail-menu .detail-menu-title{
  margin: 10px 0;
  font-weight: bold;
}

.detail-menu .category-name{
  padding: 5px 0;
  display: inline-block;
  font-size: 12px;
  border-radius: 25px;
  margin: 10px 10px;
  text-align: center;
  color: var(--color-text);
  width: 25%;
  background-color: var(--color-orange);
}

.detail-menu .food-name, .detail-menu .drink-name{
  display: inline-block;
  margin: 5px 0;
  font-size: 1rem;
}


.review .review-title{
  margin: 70px 0 40px 0;
  text-align: center;
  font-size: 24px;
}

.review .review-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr ;
}

.review .review-container .review-item{
  border: 1px solid var(--color-primary);
  padding: 30px 10px;
  margin: 20px;
  text-align: center;
  width: 90%;
}

.review .review-container .review-item .review-name{
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
}
.review .review-container .review-item .review-date {
  font-size: 13px;
  margin: 15px 0;
}

.review .review-container .review-item .review-comment {
  margin: 15px 0;
  font-size: 1rem;
}

/* 
** Messege
*
*/

error-message, favorite-message {
  text-align: center;
  width: 90%;
  margin: auto;
  height: 100%;
  padding: 20px;
  display: grid;
}

error-message h1,
favorite-message h1 {
  color: red;
  font-size: 1.3rem;
}

error-message p,
favorite-message p {
  color: red;
  font-size: 0.9rem;
}


.restaurant-image{
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
