:root {
  --color-text: #212738;
  --color-primary: #57c4e5;
  --color-secondary: #edf2ef;
  --color-orange: #f97068;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-text);
  font-size: 14px;
  overflow-x: hidden;
}

/* 
** Navbar
*
*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  background-color: var(--color-secondary);
}

.navbar-brand {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-text);
  text-transform: uppercase;
}

.nav-list {
  position: absolute;
  right: 0;
  top: 4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
  align-items: center;
  transform: translateX(100%);
  justify-content: space-evenly;
  transition: transform 0.5s ease-in;
  width: 70%;
}

.nav-list .nav-item {
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  color: var(--color-text);
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
  line-height: 44px;
}

.nav-list a:hover {
  color: var(--color-primary);
}

.bars-toggler {
  font-size: 44px;
  line-height: 44px;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

/* 
** Hero
*
*/

.hero {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  width: 100%;
  text-align: center;
  background-color: #fff;
  background-image: url("/images/heros/hero-image_3.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.hero__title {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 3rem;
}

.hero__tagline {
  color: var(--color-secondary);
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 30px;
}

/* 
** Button
*
*
*/

.btn {
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
  color: var(--color-secondary);
  padding: 0.8rem 2.3rem;
  text-align: center;
  background-color: var(--color-orange);
  border: 1px solid var(--color-text);
  border-radius: 9px;
  cursor: pointer;
  min-height: 44px;
  min-width: 44px;
}

.btn:hover {
  background-color: #f83909;
}

/* 
** Content
*
*
*/

.list {
  margin: 10px 0 20px 0;
  padding-left: 7%;
}

#posts {
  margin: 0 7%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.card {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.card-content-head {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.title {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.city {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.rating {
  display: flex;
}

.rating .star {
  color: gold;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-right: 5px;
}

.rating p {
  font-size: 1rem;
  font-weight: bold;
}

.card-content {
  line-height: 1.5;
  font-size: 1rem;
  padding: 15px;
}

/* 
** Footer
*
*/

.footer {
  margin-top: 1.4rem;
  height: 3rem;
  width: 100%;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
}

.footer p {
  margin: 0 auto;
  color: var(--color-text);
  font-size: 1rem;
  line-height: 3rem;
}

.skip {
  position: absolute;
  top: -50rem;
  z-index: 999;
  color: var(--color-text);
}

.skip:focus {
  top: 0;
}
