:root {
  --color-text: #202124;
  --color-blue: #3074FF;
  --color-white: #FFFFFF;
  --color-secondary: #F1F3F4;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-viga: 'Viga', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
** Skip Content
*
*/

.skip {
  position: absolute;
  top: -50px;
  left: 0;
  background-color: var(--color-secondary);
  color: var(--color-text);
  z-index: 999;
  font-family: var(--font-montserrat);
  padding: 8px;
}

.skip:focus {
  top: 0;
}

/* 
** Navbar
*
*/

.container {
  width: 100%;
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
}

.navbar-brand {
  width: 60%;
  margin-left: 5%;
}

.navbar-brand .navbar-brand-logo {
  text-decoration: none;
  font-family: var(--font-viga);
  font-weight: bolder;
  font-size: 34px;
  color: var(--color-text);
}

#drawer {
  width: 70%;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-list .nav-item {
  list-style: none;
  margin-right: 5%;
}

.nav-list .nav-item a {
  text-decoration: none;
  font-size: 1rem;
  min-width: 44px;
  line-height: 44px;
  display: inline-block;
  color: var(--color-text);
  font-family: var(--font-montserrat);
  font-weight: bold;
}

.nav-list .nav-item a:hover {
  color: var(--color-blue);
}

.bars-toggler {
  font-size: 44px;
  border: none;
  background-color: transparent;
  color: #212738;
  margin: 0 5%;
  display: block;
  min-width: 44px;
  min-height: 44px;
  cursor: pointer;
}

/* 
** Hero
*
*/

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 540px;
  width: 100%;
  background-color: #fff;
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)), url("/images/hero-small.jpg");
  background-size: cover;
  background-position: center;
}

.hero-inner{
  color: #fff;
  align-items: center;
	margin-bottom: 80px;
}

.hero-inner .hero-title {
  color: var(--color-white);
	text-shadow: 0 ,0 ,0, 0.7;
	font-size: 42px;
}

.hero-inner .hero-title span{
  font-family: var(--font-viga);
}

.hero__tagline {
  font-size: 1rem;
}

/* 
** Like
*
*/

.like {
  font-size: 28px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: var(--color-blue);
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
** Content
*
*/

.restaurant-content{
  width: 100%;
}

.restaurant-content .list-label{
  margin: 20px auto;
  font-size: 35px;
  font-family: var(--font-montserrat);
  text-align: center;
}

#posts {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#posts .card {
  width: 270px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  margin: 30px 20px;
}

#posts .card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#posts .card a {
  text-decoration: none;
  color: var(--color-text);
}

#posts .card a:hover {
  color: var(--color-blue);
}

#posts .card .restaurant-image{
  overflow: hidden;
}

#posts .card .restaurant-image img{
  background-position: center;
  background-size: cover;
  height: 250px;
}

#posts .card .card-content {
  text-align: justify;
  line-height: 1.5;
  font-size: 1rem;
  padding: 15px;
}

.card .card-content .card-title{
  margin-bottom: 5px;
  font-size: 44px;
}

.card .card-content .card-title .card-link{
  font-size: 44px;
}

.card .card-content .restaurant-city {
  font-size: 1rem;
  margin-bottom: 5px;
}

.card .card-content .rating {
  display: flex;
}

.card .card-content .rating .iconify-star {
  color: gold;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-right: 5px;
}

.card .card-content .rating p {
  font-size: 1rem;
  font-weight: bold;
}

.card .card-content .restaurant-desc{
  font-size: 0.9rem;
}

/* 
** Footer
*
*/

.footer {
  margin-top: 1.4rem;
  height: 3rem;
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  border-top: 2px solid #000;
}

.footer p {
  margin: 0 auto;
  color: var(--color-text);
  font-size: 1rem;
  line-height: 3rem;
}

/* 
** Detail Page
*
*/

.detail-restaurant-content{
  margin: 40px auto;
}

.detail-restaurant-content h2.detail-label{
  margin: 20px auto;
  font-size: 30px;
  font-family: var(--font-montserrat);
  text-align: center;
  font-weight: bold;
}

.card-detail {
  width: 100%;
}

.card-detail .restaurant-image{
  width: 100%;
}

.card-detail .restaurant-image img{
  width: 95%;
  display: block;
  margin: 0 auto;
}

.card-detail .restaurant-detail-content{
  width: 100%;
  margin: 40px 0;
}

.restaurant-detail-content .restaurant-detail{
  padding: 20px;
}

.restaurant-detail-content .restaurant-detail .restaurant-title {
  text-transform: capitalize;
  color: var(--color-text);
  margin-bottom: 10px;
  font-family: var(--font-viga);
}

.restaurant-detail .rating .iconify-star {
  color: gold;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-right: 5px;
}

.restaurant-detail .rating .rating-text {
  font-size: 1rem;
  font-weight: bold;
}

.restaurant-detail .restaurant-desc {
  margin: 10px 0;
  align-items: justify;
  font-size: 0.9rem;
}

.restaurant-detail .restaurant-location{
  font-size: 1rem;
  display: flex;
  font-weight: bold;
  margin-top: 10px;
}

.restaurant-detail .restaurant-location span{
  margin-right: 10px;
  color: var(--color-blue);
}

.detail-menu{
  flex: 1;
  padding: 0 20px;
}

.detail-menu .detail-menu-title{
  margin: 10px 0;
  font-weight: bold;
}

.detail-menu .category-name{
  padding: 5px 0;
  display: inline-block;
  font-size: 12px;
  border-radius: 25px;
  margin: 10px 10px;
  text-align: center;
  color: var(--color-white);
  width: 25%;
  background-color: var(--color-blue);
}

.detail-menu .food-name, .detail-menu .drink-name{
  display: inline-block;
  margin: 5px 0;
  font-size: 1rem;
}

.review .review-title{
  margin: 70px 0 40px 0;
  text-align: center;
  font-size: 24px;
}

.review .review-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr ;
}

.review .review-container .review-item{
  border: 1px solid var(--color-blue);
  padding: 30px 10px;
  margin: 20px auto;
  text-align: center;
  width: 85%;
  background-color: var(--color-secondary);
}

.review .review-container .review-item .review-name{
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
}
.review .review-container .review-item .review-date {
  font-size: 13px;
  margin: 15px 0;
}

.review .review-container .review-item .review-comment {
  margin: 15px 0;
  font-size: 1rem;
}

/* 
** Messege
*
*/

error-message, favorite-message {
  text-align: center;
  width: 90%;
  margin: auto;
  height: 100%;
  padding: 20px;
  display: grid;
}

error-message h1,
favorite-message h1 {
  color: var(--color-text);
  font-size: 1.3rem;
}

error-message p,
favorite-message p {
  color: var(--color-text);
  font-size: 0.9rem;
}

