#posts {
  display: grid;
  row-gap: 20px;
}

@media screen and (min-width: 768px) {
  .bars-toggler {
    display: none;
  }

  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: static;
    right: 0px;
    top: 0rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    background-color: var(--color-secondary);
    align-items: center;
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
    width: 40%;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  #posts {
    grid-template-columns: repeat(2, 1fr);
  }

  .detail-review{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .nav-list {
    width: 45%;
  }

  #posts {
    grid-template-columns: repeat(3, 1fr);
  }

  .hero__title {
    font-size: 3rem;
  }

  #posts-detail{
    margin: 0 10%;
    grid-template-columns: repeat(1, 2fr);
  }

  .detail-review{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .nav-list {
    width: 55%;
  }

   #posts-detail{
    margin: 0 10%;
    grid-template-columns: repeat(1, 2.5fr);
  }

  .detail-review{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.nav-active {
  transform: translateX(0%);
  opacity: 1;
}
