@media screen and (max-width: 505px) {
  nav {
    z-index: 9;
    background-color: var(--color-white);
    width: 300px;
    top: 0;
    height: 100vh;
    position: fixed;
    -webkit-transform: translate(-600px, 0);
    transform: translate(-600px, 0);
    transition: transform 0.5s ease-in;
    display: block;
  }

  .nav-active {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .nav-list {
    padding: 20px;
    margin-top: 40px;
    display: list-item;
    align-items: left;
  }

  .nav-list .nav-item:first-child {
    border-top: 1px solid var(--color-text);
  }

  .nav-list .nav-item{
    border-bottom: 1px solid var(--color-text);
  }

  .nav-list .nav-item a {
    color: var(--color-text);
  }

  error-message h1,
  favorite-message h1 {
    color: var(--color-text);
    font-size: 20px;
  }

  error-message p,
  favorite-message p {
    color: var(--color-text);
    font-size: 14px;
  }
}

@media screen and (min-width: 506px) {
  .bars-toggler {
    display: none;
  }

  .nav-list .nav-item{
    width: 20%;
  }

  .navbar-brand .navbar-brand-logo {
    width: 40%;
    font-size: 44px;
  }

  #posts .card {
    width: 310px;
  }
}

@media screen and (min-width: 576px) {
  .hero{
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)), url("/images/hero-large.jpg");
  }
}

@media screen and (min-width: 768px) {
  .nav-list .nav-item{
    font-size: 16px;
  }

  .hero-inner h1.hero-title {
    font-size: 4rem;
  }

  .hero-inner p.hero-tagline {
    font-size: 1.3rem;
  }

  .restaurant-content .list-label{
    margin-top: 30px;
    font-size: 45px;
  }

  .card-detail .restaurant-image img{
    width: 760px;
  }

  .restaurant-detail-content .restaurant-detail{
    flex: 1;
  }

  .restaurant-detail .restaurant-desc {
    font-size: 1.1rem;
  }

  .card-detail .review .review-title{
    margin: 70px 0 40px 0;
    text-align: center;
    font-size: 24px;
  }

  .card-detail .review .review-container{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .nav-item {
    width: 15%;
  }

  .hero-inner .hero-title {
    font-size: 3rem;
  }

  .card-detail .review .review-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
 .nav-item {
    width: 13%;
  }

  .restaurant-content{
    max-width: 1200px;
    margin: 0 autq;
  }

  .card-detail .review .review-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
